/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
//@import "compass/reset";
//@import 'compass';
@import 'common/_normalize.scss';
@import '../app/bower/select2/src/scss/core.scss';

@import 'common/mixins';
@import 'common/adjastment';
@import 'common/spritesheets';
@import 'common/fonts';

$mainwidth: 1256px;
$maincolor: #f4f4f4;
$topcolor: #ffffff;
$color-input: #fbfbfb;
$color-orange: #ff6707;
$marginmain: 78px;
$textcolor: #333333;
$color_sidebartop: #d9e5ea;
$color-nav-hover: #e4e2e2;
$color-border: #dee1e4;
$color-link: #5db2fc;
$color-input-sidebar: #ffffff;
$boxshadow: #ebedef;
$color-article-top: #e4ebee;
$color-article-top-font: #5d656c;
$color-article-top-input-font: #7f7f7f;
$color-table-2x1: #ebebeb;
$color-article-item-name: #010101;
$logo-font-size: 40px;


html, body {
  background-color: #282828;
}

.wrapper {
  width: $mainwidth;
  background-color: $maincolor;
  margin: 0 auto;
}


@import 'common/header';

@import 'common/footer';








