-
    var contents = {type: 'Смартфон',
        name : 'Samsung GT-I9301I ',
        name2 : 'GALAXY S3',
        image : 'images/phone1.jpg',
        images :{
            image1 : 'images/phone1.jpg',
            image2 : 'images/phone2.jpg',
            image3 : 'images/phone3.jpg'},
        articul: '128789',
        charact: {
            'Тип SIM-карты' : 'Micro-SIM',
            'Количество SIM-карт' : 1,
            'Цвет' : 'Белый',
            'ОС' : 'Android',
            'Связь 3G' : 'Есть',
            '4G(LTE)' : 'Нет',
            'GPS-модуль' : 'Есть'},
        ratio : 4,
        presence : 'В наличии',
        info: 'Больше возможностей со смартфоно Смартфон поставляется с актуальными обновлениями приложений и незаменимыми сервисами Microsoft — Skype, Office и OneDrive — предустановленными и готовыми к использованию. Купите его, и вы получите устройство, обладающее качествами дорогостоящих смартфонов премиум-сегмента, по доступной цене. Сделано надежно',
        price : '11 343'};
- var contentItems = [0,1,2,3,4,5,6,7,8];

- var ratio_list = [1,2,3,4,5]