meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Интернет магазин
script(type="text/javascript" src="js/ext.min%=version=%.js")
link(rel="stylesheet" href="css/vendor.min%=version=%.css")
link(rel="stylesheet" href="css/index%=suffix=%%=version=%.css")


