.important__text {
  @include column-count(2);
  text-align: justify;
}
.important__title {
  font-family: OpenSansBold;
  font-size: 20px;
  font-color: $textcolor;
  margin-top: 30px;
}
.important_text_unit {
  font-family: OpenSansRegular;
  font-size: 14px;
  font-color: $textcolor;
  &:first-child{
    margin-top: 0;
  }
}

.columnizer-style{
//  text-align: justify;
}
