//clearfix

@mixin clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//border-radius
@mixin border-radius($r){
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin column-count($c) { // в <IE10 не поддерживается  для ИЕ сделаем JS
  -moz-column-count: $c; // Для Firefox
  -webkit-column-count: $c; // Для Safari и Chrome
  column-count: $c;
}

@mixin box-shadow($r,$g,$b,$s,$op) {
  -webkit-box-shadow: 0px 0px 3px $s rgba($r, $g, $b, $op);
  -moz-box-shadow: 0px 0px 3px $s rgba($r, $g, $b, $op);
  box-shadow: 0px 0px 3px $s rgba($r, $g, $b, $op);
}
@mixin box-shadow-all($x, $y, $bl, $rad, $r,$g,$b,$op) {
  -webkit-box-shadow: $x  $y $bl $rad rgba($r, $g, $b, $op);
  -moz-box-shadow: $x  $y $bl $rad rgba($r, $g, $b, $op);
  box-shadow: $x  $y $bl $rad  rgba($r, $g, $b, $op);
}
