$padding-left: 25px;
$padding-bottom: 22px;
//$colors : white, gray, black, blue, red, yellow, orange, green, blue, violet, pink, brown;
$ccolors : (button-white: white,button-gray: gray,button-black: black, button-dark-blue: #0a3153,
           button-red: red, button-yellow: yellow, button-orange: orange, button-green: green,
            button-blue: blue, button-violet: violet, button-pink: pink, button-brown: brown);

.sidebar {
  display:block;
  width: 332px;
  float: left;
  font-size: 14px;
  font-family: OpenSansRegular;
}
.sidebar__form {
  background-color: $color-input;
  @include border-radius(5px);
}
.sidebar__type {
  margin-bottom: 15px;
}
.sidebar__type-link {
  display: block;
  color: $textcolor;
  background-color: $color_sidebartop;
  padding: 14px 0 14px $padding-left;
  text-decoration: none;
}
.sidebar__type-item .active {
  background-color: $color-input;
}
.sidebar__type-link:hover {
  background-color: $color-nav-hover;
}
.sidebar__type-link.flagman {
  @include border-radius(5px 5px 0 0);
}

.sidebar__type-link.budjet {
  @include border-radius(0 0 5px 5px);
}

.sidebar__item-header {
  position: relative;
  font-family: OpenSansSemibold;
  font-size: 16px;
//  padding-left: $padding-left;
  padding: 15px 0 15px $padding-left;
  margin: 0;
  cursor: pointer;
}

.sidebar-item:not(:last-child) {
  border-bottom: 1px solid $color-border;
}
.sidebar__item-block.hide {
  display: none;
}
.sidebar__item-presence-item {
//  position : relative;
  padding: 0 0 $padding-bottom $padding-left;
}
.sidebar__item-presence_radio {
  display: none;
}
.sidebar__item-presence_label {
  padding-left: $padding-left;
  position: relative;
}

.sidebar__item {
  &-item-checkbox {
    padding: 0 0 $padding-bottom $padding-left;
  }
  &-input-checkbox {
    display: none;
  }
  &-label-checkbox {
    padding-left: $padding-left;
    position: relative;
    cursor: pointer;
  }
}

//.sidebar__item-platform {
//  &-item {
//    padding: 0 0 $padding-bottom $padding-left;
//  }
//  &_check {
//    display: none;
//  }
//  &_label {
//    padding-left: $padding-left;
//    position: relative;
//  }
//}



.sidebar__item-presence_label{
  cursor: pointer;
}

//.sidebar__item-brands-item{
//  padding: 0 0 $padding-bottom $padding-left;
//}
//.sidebar__item-brands-input {
//  display: none;
//}
//.sidebar__item-brands_label {
//  padding-left: $padding-left;
//  position: relative;
//}


.sidebar__item-bottom {
  margin: 0;
  padding: 0 0 $padding-bottom $padding-left;
  color: $color-link;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
//.sidebar__item-bottom:hover {
//
//}



.sidebar__item-price-input,
.sidebar__item-price_label {
  display: inline-block;
}
.sidebar__item-price-input:first-child {
  padding-right: 20px;
}

.sidebar__item-price_label {
  padding: 0 12px $padding-bottom $padding-left;
}

.sidebar__item-price-input {
  width: 81px;
  height: 28px;
  @include border-radius(3px);
  //-webkit-border-radius: 3px;
  //-moz-border-radius: 3px;
  //border-radius: 3px;
  background-color: $color-input-sidebar;
  -webkit-box-shadow: inset 0 1px 1px rgba(148,148,148,.43);
  -moz-box-shadow: inset 0 1px 1px rgba(148,148,148,.43);
  box-shadow: inset 0 1px 1px rgba(148,148,148,.43);
  border: solid 1px $boxshadow;
  padding-left: 10px;
}

.sidebar__item-price-slider{
  border-top: 3px solid $color-border;
  margin: 0 $padding-left $padding-bottom $padding-left;
}
.sidebar__item-price-slider-inner{
  //text-indent: -9999;
  font-size: 0;
  height: 10px;
  margin: -3px 0 0 10px;
  padding: 0;
  width: 125px;
  display: block;
  position: relative;
  border-top: 3px solid $color-orange;
}

.sidebar__item-colors-list {
  padding: 0 $padding-left $padding-bottom $padding-left;
}
.sidebar__item-colors-item {
  display: inline-block;
  padding: 0;
  margin: 0 16px 16px 0;
}


.sidebar__item-colors_button {
  text-indent: -9999px;
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  width: 43px;
  height: 43px;
  border: 1px solid $color-border;
  @include box-shadow(255,102,0,0px,0);
  cursor: pointer;
  &.active {
    @include box-shadow(255,102,0,2px,0.999);
  }
  &:hover {
    @include box-shadow(255, 102, 0, 1px, 0.999);
  }
}
//цвета кнопок
@each $key,$value in $ccolors {
  .#{$key} {
    background-color: $value;
  }
}


